<ion-view title="Guru" hide-back-button="true" cache-view="false" nav-transition="none" id="page26" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/vuOpdAoQTqmXZVIaWZd3_kids-bg.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="guru-list5">
      <ion-item class="item-divider" id="guru-list-item-divider3"> Aktiviti</ion-item>
      <ion-item class="item-icon-left" id="guru-list-item33">
        <i class="icon ion-ionic"></i>Kelas</ion-item>
      <ion-item class="item-icon-left" id="guru-list-item34">
        <i class="icon ion-ionic"></i>Sekolah</ion-item>
    </ion-list>
  </ion-content>
</ion-view>