<ion-view title="Intro" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page23" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <div style="height:100px"></div>
      <center>
        <div style="height:100px;"></div>
      </center>
      <center>
        <h5>Pengenalan</h5>
        <p>Laman ini dipaparkan untuk pengguna pertama kali sahaja</p>
      </center>
      <button class="button button-balanced button-block" ng-click="userAction('nav','login',null,null)">
        Enter
      </button>
    </div>
  </ion-content>
</ion-view>