<ion-view title="Pentadbiran" hide-back-button="true" cache-view="false" nav-transition="none" id="page28" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/vuOpdAoQTqmXZVIaWZd3_kids-bg.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="pentadbiran-list7">
      <ion-item class="item-divider" id="pentadbiran-list-item-divider5"> Aktiviti</ion-item>
      <ion-item class="item-icon-left" id="pentadbiran-list-item37">
        <i class="icon ion-ionic"></i>Sekolah</ion-item>
      <ion-item class="item-icon-left" id="pentadbiran-list-item38">
        <i class="icon ion-ionic"></i>Kakitangan</ion-item>
      <ion-item class="item-icon-left" id="pentadbiran-list-item39">
        <i class="icon ion-ionic"></i>Ibubapa/Penjaga</ion-item>
    </ion-list>
  </ion-content>
</ion-view>