<ion-view title="Halaqah" hide-back-button="true" cache-view="false" nav-transition="none" id="page24" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="halaqah-list3">
      <ion-item class="item-divider" id="halaqah-list-item-divider1"> Senarai halaqah saya</ion-item>
      <ion-item class="item-icon-left" id="halaqah-list-item27">
        <i class="icon ion-ios-people"></i>nama halaqah</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
  </ion-content>
</ion-view>